.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
