.banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 50%;
    z-index: 0;
    margin: 0 auto;
    position: relative;
}

.banner img {
    width: 90%;
    height: 30%;
}
