.star-button {
    width: 10em; /* Adjust the button width */
    height: 10em; /* Adjust the button height */
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the text vertically */
}

.star-button::before {
    content: '★'; /* Display a star character, adjust the size and color as needed */
    font-size: 10em; /* Adjust the size of the star character */
    color: #123abc; /* Set the star color */
}

.star-button::after {
    content: 'Submit'; /* Display the text */
    position: absolute;
    color: white; /* Set the text color */
    z-index: 2; /* Ensure the text is displayed above the star */
}

.star-button:hover::before {
    color: white; /* Adjust the star color on hover */
}

.star-button:hover::after {
    color: white; /* Adjust the text color on hover */
}
