.translucent-container {
    background-color: rgba(53, 54, 69, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 10em;
    max-width: 60em;
    min-height: 25em;
    max-height: 30em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: auto;
    z-index: 0;
}


.calendar-translucent-container {
    background-color: rgba(53, 54, 69, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 10em;
    max-width: 60em;
    min-height: 10em;
    max-height: 60em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}
