
.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.text-below-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.submit-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    }

.submit-button {
    transition: transform 0.7s ease-in-out;
}

.submit-button:hover {
    transform: rotate(360deg);
}

.again-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    }

.again-button {
    transition: transform 0.7s ease-in-out;
}

.again-button:hover {
    transform: rotate(360deg);
}

img {
    width: 150px;
    height: 150px;
}

.form-control {
    background-color: inherit;
    font-size: 1em;
    color: #fffefe;
    height: 30px;
    width: 300px;
    margin: 5px;
}

.form-control::placeholder {
    color: #fffefe;
}

#toggle-form-control {
    display: flex;
    justify-content: left;
    font-size: 1em;
    height: 30px;
    width: 60px;
    text-align: left;
}

.inheritColor{
    color: black;
    background-color: inherit;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.signup-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    }

.signup-button {
    transition: transform 0.7s ease-in-out;
}

.signup-button:hover {
    transform: rotate(180deg);
}

.signin-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    }

.signin-button {
    transition: transform 0.7s ease-in-out;
}

.signin-button:hover {
    transform: rotate(360deg);
}

.signup-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    }

.signup-button {
    transition: transform 0.7s ease-in-out;
}

.signup-button:hover {
    transform: rotate(180deg);
}

.container-pet-list {
    background-color: rgba(225, 247, 250, 0.08);
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

.createPetButton{
    background-color: #e9eff6;
    color: #000000;
    font-size: 1.75rem;
    font-family:  "American Typewriter", serif;
    border-radius: 20% 20% 20% 20%;
}

.buttonOfPets{
    background-color: #e9eff6;
    color: #000000;
    font-size: 1.75rem;
    font-family:  "American Typewriter", serif;
    border-radius: 20% 20% 20% 20%;
}
